/* === FONTS === */
@font-face {
    font-family: 'Open Sans';
    width: 600;
    src: url(/fonts/Open_Sans/static/OpenSans/OpenSans-Medium.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url(/fonts/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 500;
    src: url(/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url(/fonts/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 200;
    src: url(/fonts/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: 'Volkhov';
    font-weight: 400;
    src: url(/my_project/fonts/Volkhov/Volkhov-Regular.ttf);
}

@font-face {
    font-family: 'Volkhov';
    font-weight: 700;
    src: url(/fonts/Volkhov/Volkhov-Bold.ttf);
}
/* ================ */

/* === GENERALS STYLES */
* {
    box-sizing: border-box;
}
 
h1, h2, h3, h4, h5, li, p{
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.container-lr {
    margin: 0 auto;
    width: 75%;
}

/* === GRID === */
.grid-container {
    grid-template-columns: 1fr;
    grid-template-areas: 
    'header'
    'category'
    'top-destinations'
    'book'
    'opinions'
    'logos'
    'subscribe'
    'footer';
}

header {
    grid-area: header;
    min-height: 1018px;
}

.category {
    grid-area: category;
    min-height: 575px;
}

.top-destinations {
    grid-area: top-destinations;
    min-height: 935px;
}

.book {
    grid-area: book;
    min-height: 492px;
}

.opinions {
    grid-area: opinions;
    min-height: 652px;
}

.logos {
    grid-area: logos;
    min-height: 369px
}

.subscribe {
    grid-area: subscribe;
    min-height: 697px;
}

footer {
    grid-area: footer;
    min-height: 450px;
}
/* =========== */

/* === Header === */

header {
    background-image: url(/img/header/background.jpg);
    background-repeat: no-repeat;
    background-position: right 0;
}

header .nav-menu {
    margin: 0 auto;
    width: 1160px;
    justify-content: space-between;
    align-items: center;
    padding-top: 48px;
}

header .logo-block {
    background-image: url(/img/header/logo_BG.jpg);
    background-repeat: no-repeat;
    background-position: right 3% bottom 31%;
}

header .nav-items {
    min-width: 818px;
    justify-content: space-around;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    color: #212832;
}

header a:hover {
    color: #DF6951;
}

header .btn {
    margin-top: -10px;
    width: 102px;
    height: 40px;
    border: 1px solid #212832;
    border-radius: 5px;
    background-color: #FFF1DA;
}

header .btn:hover {
    cursor: pointer;
    background-color: #DF6951;
    color: wheat;
}

header select {
    width: 48px;
    height: 22px;
    font-weight: 500;
    font-size: 17px;
    color: #212832;
    background-color: #FFF1DA;
}

header select:hover {
    cursor: pointer;
    background-color: #DF6951;
    color: wheat;
}

header option:hover {
    cursor: pointer;
    background-color: #DF6951;
    color: wheat;
}

/* === Section: main-info */

header .main-info {
    margin: 0 auto;
    width: 1200px;
    justify-content: space-between;
    align-items: center;
}

header .main-info .desc > p:first-child {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    color: #DF6951;
}

header .main-info .desc h1 {
    width: 545px;
    margin-top: 24px;
    background-image: url(/img/header/h1_decore.png);
    background-repeat: no-repeat;
    background-position: 100% 25%;
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 84px;
    letter-spacing: -0.04em;
    color: #181E4B;
}

header .main-info .desc > p {
    margin-top: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    color: #5E6282;
}

header .main-info .desc .promo-block .btn {
    width: 170px;
    height: 60px;
    background: #F1A501;
    border: none;
    box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
    border-radius: 10px;
    font-family: 'Google Sans';
    font-weight: 500;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}

header .main-info .desc .promo-block .btn:hover {
    background-color: #DF6951;
}

header .main-info .desc .promo-block {
    margin-top: 34px;
    height: 60px;
    width: 379px;
    justify-content: space-between;
}

header .main-info .desc .promo-block .play-block a {
    position: relative;
    right: 21px;
    bottom: 7px;
}

header .main-info .desc .promo-block .play-block .play_circle {
    width: 52px;
    height: 52px;
    background-color: #DF6951;
    border-radius: 100%;
    align-items: center;
}

header .main-info .desc .promo-block .play-block .play_circle:hover {
    background-color: #F1A501;
}

header .main-info .desc .promo-block .play-block .play_circle img {
    margin: 0 auto;
}

header .main-info .desc .promo-block .play-block p {
    margin-top: 10px;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 17px;
    color: #686D77;
}
/* =========== */

/* === MAIN === */

/* === section: category */

.category {
    width: 1228px;
}

.category .pluses {
    position: absolute;
    right: 7%;
    top: 107%;
}

.category .category-header {
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}

.category .category-header p {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
}


.category .category-header h2 {
    margin-top: 10px;
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 50px;
    text-transform: capitalize;
    color: #14183E;
}

.category .category-block {
    margin: 0 auto;
    width: 1228px;
    margin-top: 68px;
    justify-content: space-between;
}

.category .category-block .item {
    width: 190px;
    height: 227px;
    text-align: center;
    position: relative;
}

.category .category-block .item .img-select {
    display: none;
    position: absolute;
    top: 250px;
    right: 223px;
    z-index: -1;
}

.category .category-block .item:nth-child(2) .img-select {
    width: 100px;
    height: 100px;
}


.category .category-block .item:hover {
    width: 267px;
    height: 314px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
}

.category .category-block .item:hover .img-select {
    display: block;
}

.category .category-block .item h5 {
    margin-top: 29px;
    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #1E1D4C;
}

.category .category-block .item p {
    margin-top: 15px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    color: #5E6282;
}

.category .category-block .item:nth-child(2) img {
    width: 115px;
    height: 78px;
}

/* =========== */

/* === section: top-destinations */

.top-destinations {
    width: 1102px;
}

.top-destinations-header {
    flex-direction: column;
    align-items: center;
}

.top-destinations-header p:first-child {
    margin-bottom: 8px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
}

.top-destinations-header h2 {
    margin-bottom: 60px;
    font-family: 'Volkhov';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-align: center;
    text-transform: capitalize;
    color: #14183E;
}

.top-destinations-block {
    margin: 0 auto;
    width: 1102px;
    display: flex;
    justify-content: space-evenly;
}

.top-destinations-block .item {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #5E6282;
}

.top-destinations-block .item .desc {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 0 23px 0 23px;
    margin-top: 27px;
}

.top-destinations-block .item .desc:hover {
    cursor: pointer;
    height: 130px;
    width: 315px;
    background: #FFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 36px;
}

.top-destinations-block .item .desc .dimon-secret {
    display: none;
    position: absolute;
    top: 37px;
    left: 30%;
}

.top-destinations-block .item .desc:hover .dimon-secret {
    display: block;
    position: absolute;
    top: 37px;
    left: 30%;
}

.top-destinations-block .item .desc-wrapper {
    margin-top: 19px;
    padding: 0 23px 0 23px;
}

.top-destinations-block .item .desc-wrapper img {
    float: left;
    padding-right: 15px;
}

/* =========== */

/* === section: book */

.book {
    width: 1158px;
    position: relative;
    margin: 0 auto;
    width: 1114px;
}

.book .trip {
    margin-left: 118px;
    width: 370px;
    min-height: 400px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 26px;
    padding: 23px;
}

.book .trip > img {
    margin-bottom: 26px;
}

.book .trip .desc h5 {
    width: 134px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #080809;
    margin-bottom: 13px;
}

.book .trip .desc > p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 124.5%;
    color: #84829A;
    margin-bottom: 21px;
}

.book .trip .desc nav {
    width: 139px;
    justify-content: space-between;
    margin-bottom: 31px;
}

.book .trip .desc .going {
    justify-content: space-between;
    align-items: center;
}

.book .trip .desc .going .number > img {
    float: left;
    margin-right: 15px;
}

.book .trip .desc .going .number > p {
    width: 165px;
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 16px;
    line-height: 124.5%;
    color: #84829A;
}

.book .trip .desc .going > img:hover {
    cursor: pointer;
}

.book .ongoing {
    position: absolute;
    top: 38%;
    left: 81%;
    padding: 25px;
    width: 323px;
    height: 150px;
    align-items: flex-start;
    background: #FFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 18px;
}

.book .ongoing .desc {
    margin-left: 11px;
}

.book .ongoing .desc p:first-child {
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 14px;
    line-height: 124.5%;
    color: #84829A;
    margin-bottom: 6px;
}

.book .ongoing .desc h5 {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    line-height: 124.5%;
    color: #080809;
    margin-bottom: 14px;
}

.book .ongoing .desc :last-child {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    color: #8A79DF;
}

.book .ongoing .desc :nth-child(3) {
    margin-bottom: 10px;
}

.book .ongoing .desc .bar {
    width: 156px;
    height: 5px;
    background-color: rgba(132, 130, 154, .1);
}

.book .ongoing .desc .bar div {
    height: 100%;
    width: 40%;
    background-color: #8A79DF;
}

.book .desc > p:first-child {
    margin-bottom: 15px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #5E6282;
}

.book .desc .book-block .block {
    margin-left: 21px;
}

.book .desc h2 {
    margin-bottom: 31px;
    width: 511px;
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 50px;
    line-height: 64px;
    text-transform: capitalize;
    color: #14183E;
}

.book .desc .book-block {
    flex-direction: column;
}

.book .desc .book-block .item {
    width: 495px;
    align-items: flex-start;
    margin-bottom: 21px;
}

.book .desc .book-block .item h5 {
    margin-bottom: 4px;
    width: 254px;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
}

.book .desc .book-block .item p {
    font-family: 'Poppins';
    font-weight: 200;
    font-size: 16px;
    line-height: 124.5%;
    color: #5E6282;
}

/* =========== */

/* === section: opinions */

.opinions {
    width: 1165px;
    padding-top: 200px;
    min-width: 1165px;
    justify-content: space-evenly;
    align-items: center;
}

.opinions .desc :first-child {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: uppercase;
    color: #5E6282;
    margin-bottom: 8px;
}

.opinions .desc h2 {
    width: 409;
    font-family: 'Volkhov';
    font-weight: 700;
    font-size: 50px;
    text-transform: capitalize;
    color: #14183E;
    margin-bottom: 82px;
}

.opinions .desc .drops {
    width: 87px;
    height: 12px;
    justify-content: space-between;
}

.opinions .desc .drops div {
    width: 12px;
    height: 12px;
    background-color: #E5E5E5;
    border-radius: 100%;
}

.opinions .desc .drops div:hover {
    cursor: pointer;
    background-color: #39425D;
}

.opinions .client {
    position: relative;
    height: 245px;
    width: 504px;
    background: #FFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
}

.opinions .client .second-opinion {
    position: absolute;
    bottom: -31%;
    z-index: -1;
    left: 11%;
    width: 502px;
    height: 232px;
    border: 2px solid #F7F7F7;
    filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
    border-radius: 10px;
}

.opinions .vectors {
    flex-direction: column;
    height: 71px;
    width: 14px;
    justify-content: space-between;
}

.opinions .client .first-opinion, .second-opinion {
    padding: 28px 68px 34px 34px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    color: #5E6282;
}

.opinions .client img {
    position: absolute;
    bottom: 79%;
    right: 94%;
}

.opinions .client .first-opinion, .second-opinion :nth-child(1) {
    margin-bottom: 34px;
}

.opinions .client .first-opinion :nth-child(2) {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
}

.opinions .client .second-opinion :nth-child(2) {
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 18px;
    color: #5E6282;
}


/* =========== */

/* === section: logos */

.logos {
    width: 1073px;
    justify-content: space-around;
    align-items: center;
    padding-top: 138px;
}

.logos a {
    justify-content: center;
    align-items: center;
}

.logos img {
    opacity: .5;
}

.logos img:hover {
    opacity: 1;
}

.logos a:hover {
    width: 241px;
    height: 86px;
    background: #FFFFFF;
    box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
    border-radius: 10px;
}

/* =========== */

/* === section: contact */

.subscribe {
    padding: 111px 0 96px 0;
    position: relative;
}

.subscribe .bg-container {
    position: absolute;
    left: 80px;
    height: 407px;
    width: 1170px;
    opacity: .7;
    background-image: url(/img/contact/Group2.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.subscribe .desc-container {
    position: absolute;
    left: 300px;
}

.subscribe .desc-container .message-logo {
    position: absolute;
    left: 102%;
    bottom: 90%;
}

.subscribe .desc-container h2 {
    padding-top: 79px;
    width: 881px;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 33px;
    text-align: center;
    color: #5E6282;
    margin-bottom: 74px;
}

.subscribe .desc-container form {
    margin-left: 80px;
    /* position: relative; */
}

/* .subscribe .desc-container .email {
    position: absolute;
    top: 40%;
    left: 1.5%;
} */

.subscribe .desc-container form input {
    width: 421px;
    height: 68px;
    background: #FFFFFF;
    border: none;
    border-radius: 10px;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
    color: #39425D;
}

.subscribe .desc-container form button {
    cursor: pointer;
    width: 180px;
    height: 68px;
    background: 
    linear-gradient(180deg, 
    #FF946D 0%, 
    #FF7D68 100%);
    border: none;
    border-radius: 10px;
    margin-left: 24px;
    font-family: 'Open Sans';
    font-weight: 500;
    font-size: 17px;
    text-align: center;
    color: #FFFFFF;
}

.subscribe .desc-container form button:hover {
    background: #F1A501;
}

.subscribe .pluses {
    position: absolute;
    top: 63%;
    left: 83%;
}


    /* =========== */

/* === footer === */

footer {
    width: 90%;
}

footer .wrapper {
    justify-content: space-evenly;
    align-items: flex-start;
}

footer .wrapper .jadoo h2 {
    width: 152px;
    height: 66px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 44px;
    color: #181E4B;
    margin-bottom: 19px;
}

footer .wrapper .jadoo p {
    width: 207px;
    height: 48px;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 13px;
    color: #5E6282;
}

footer .wrapper .footer-nav {
    width: 474px;
    justify-content: space-evenly;
}

footer .wrapper .footer-nav .item {
    flex-direction: column;
    justify-content: flex-end;
}

footer .wrapper .footer-nav .item ul {
    margin: 0;
    padding: 0;
    margin-bottom: 86px;
}

footer .wrapper .footer-nav .item h5 {
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 21px;
    color: #080809;
    margin-bottom: 32px;
}

footer .wrapper .footer-nav .item li {
    margin-bottom: 12px; 
}

footer .wrapper .footer-nav .item li a {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #5E6282;  
}

footer .wrapper .footer-nav .item li a:hover {
    text-decoration: underline #5E6282 .1em; 
}

footer .wrapper .social-media {
    width: 214px;
    height: 147px;
    flex-direction: column;
    justify-content: space-between;
}

footer .wrapper .social-media .icons {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 9px;
}

footer .wrapper .social-media .applications p {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 20px;
    color: #5E6282;
    margin-bottom: 16px;
}

footer .rights {
    text-align: center;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 14px;
    color: #5E6282;
}

/* =========== */

/* === section: === */

/* =========== */